/* font-family: "Slackside One", cursive; */
/* font-family: "Caveat", cursive; */
/* font-family: "Urbanist", sans-serif; */
/* font-family: "Poppins", sans-serif; */
html {
  background-color: #0b0a0a;
}
body {
  margin: 0;
  font-family: "Urbanist", sans-serif;

  color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("assets/bg-portfolio.webp");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(5px);
  z-index: 999;
}

.navbar-item,
.navbar-item > a {
  color: #136870;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover,
.navbar-item > a:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
  color: #136870;
}

.navbar-item-container:hover .navbar-item.navbar-item > a:not(:hover) {
  /* filter: brightness(0.5); */
  color: rgba(19, 101, 111, 0.5);
  transition: 0.2s linear;
}

.navbar-item-container:not(:hover) .navbar-item.navbar-item > a:not(:hover) {
  color: #136870;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s linear;
}

.navbar-item-toggle > a {
  font-size: 36px;
}

/* SECTION */

/* HERO */

.char-bg {
  background: url("assets/character/skecth.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Cursor */
.txt {
  border-right: 0.2rem solid white;
  padding-right: 0.1rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 100;
  animation: blink 0.5s infinite linear;
}
.main-text {
  font-family: "Madimi One", sans-serif;
}
.section-hero {
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("assets/bg-hero.jpg");
  background-position: center;
  background-size: cover; */
}

@keyframes blink {
  0% {
    border-right: 0.2rem solid white;
  }
  50% {
    border-right: 0.2rem solid transparent;
  }
  100% {
    border-right: 0.2rem solid white;
  }
}

/* PORTFOLIO */

.section-portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("assets/bg-portfolio.png");
  background-position: center;
  background-size: cover; */
}

.portfolio-card-top {
  padding: 1.5rem;
  border: 1px solid rgba(19, 104, 112, 0.5);
  background: transparent;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-card-bottom {
  padding: 1rem;
  background-color: rgba(19, 104, 112, 0.5);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skills */

.section-skills {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  min-height: 100vh;
}

.skills-card-top {
  padding: 1.5rem;
  background-color: rgba(19, 104, 112, 0.5);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-card-bottom {
  padding: 1rem;
  background: transparent;
  border: 1px solid rgba(19, 104, 112, 0.5);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESUME BUTTON */

.resume-btn {
  position: fixed;
  bottom: 10px;
  right: 10px !important;
  background-color: #136870;
  border-radius: 8px;
  width: 120px;
  height: 30px;
  padding: 0rem 1rem;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.open-btn {
  position: relative;
  right: -35px;
  background-color: #136870;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  padding: 0.21rem 0.21rem;
  cursor: pointer;
}

/* FOOTER & CONTACT */

.last-section {
  min-height: 100vh;
  padding: 80px 0;
  width: 100%;
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.52) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("assets/bg-contact.jpg");
  background-position: center;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* FOOTER */

.site-footer {
  padding: 3em 0;
}
.site-footer p:last-child {
  margin-bottom: 0;
}
.site-footer .social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #136870;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}
.site-footer .social-item > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* CONTACT */

.contact-tag {
  color: #fff;
  text-decoration: none;
}
.contact-tag:hover {
  color: #888;
  transition: 0.2s linear;
}

.site-contact-details,
.site-contact-details li {
  padding: 0;
  margin: 0;
}
/* MENU ITEM */

.menu {
  z-index: 10;
  width: min-content;
}
.menu .menu-item {
  text-align: left;
  cursor: pointer;
  display: block;
  font-size: 100px;
  text-transform: uppercase;
  color: #ffe4f8;
  padding: 0.5rem 0;
  opacity: 0.25;
  transition: scale 550ms linear, opacity 250ms linear;
}
.menu .menu-item {
  display: block;
  font-size: 100px;
  text-transform: uppercase;
  color: #ffe4f8;
  padding: 0.5rem 0;
  opacity: 0.15;
}
.menu:hover .menu-item:not(:hover) {
  transform: scale(1);
  opacity: 0.25;
  transition: scale 550ms linear, opacity 250ms linear, filter 250ms linear;
  filter: blur(4px);
}

.menu .menu-item:hover {
  transform: scale(1);
  opacity: 1;
  transition: scale 550ms linear, opacity 250ms linear;
}

/* MODAL */
.content-bg {
  background-color: rgba(19, 104, 112, 0.5);
  backdrop-filter: blur(10px);
}
